<div class="hero-unit">
	<h1>Welcome to One Month Rails</h1>
	<p>Find me in app/views/pages/about.html.erb</p>
		<%= link_to "Sign up here", "http://onemonthrails.com", class: "btn btn-primary btn-large" %>
</div>